@media only screen and (min-width:1440px) {}

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:991px) {

    .container{
        max-width: 690px;
    }
    .navbar-nav {
        gap: 15px;
    }

    .connectBtn {
        padding: 10px 30px;
    }

    .discoverRow {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 38px;
        margin-bottom: 15px;
    }

    .bannerSub {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .hero article p {
        font-size: 22px;
    }

    .hero article span {
        font-size: 16px;
    }

}

    @media only screen and (max-width:768px) {}

    @media only screen and (max-width:600px) {}

    @media only screen and (max-width:425px) {}

    @media only screen and (max-width:320px) {}