@media only screen and (min-width:1440px) {}

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {

    .navbar-nav {
        gap: 15px;
    }

    .connectBtn {
        padding: 10px 30px;
    }

    .discoverRow{
        flex-direction: column;
    }
}

@media only screen and (max-width:600px) {}

@media only screen and (max-width:425px) {}

@media only screen and (max-width:320px) {}