@media only screen and (min-width:1440px) {}

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:991px) {

    .m_all {
        margin-bottom: 110px;
    }

    .foomt_80{
        margin-top: 40px;
    }

    h2 {
        font-size: 28px;
        font-weight: 140%;
    }

    .subHeader {
        font-size: 16px;
        line-height: 140%;
    }

    .auctionBidInner span {
        font-size: 16px;
    }

    .auctionBidInner p {
        font-size: 12px;
    }

    .container{
        max-width: 690px;
    }
    .navbar-nav {
        gap: 15px;
    }

    .connectBtn {
        padding: 10px 30px;
    }

    .hero h1 {
        font-size: 38px;
        margin-bottom: 15px;
    }

    .bannerSub {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .bannerFollow article p {
        font-size: 22px;
    }

    .bannerFollow article span {
        font-size: 16px;
    }

    .footerInner{
        flex-direction: column;
        gap: 25px;
    } 

    .auctionDetail h3 {
        font-size: 38px;
    }

    .auctionDetail span, .createdBy span, .orbitTxt {
        font-size: 16px;
    }

    .timer p {
        font-size: 30px;
    }

    .orbitTxt{
        font-weight: 400px;
    }

    .bidInput input {
        max-width: 100px;
    }
    .placeBid{
        padding: 20px;
    }

    .liveAuction h3 {
        font-size: 38px;
    }

}

    @media only screen and (max-width:768px) {}

    @media only screen and (max-width:600px) {
        .mt_80{
            margin-top: 38px;
        } 

        .bannerSub {
            margin-bottom: 35px;
        }

        .auctionBidInner{
            padding: 20px;
            gap: 15px;
        }

        .auctionBidInner img{
            width: 100px;

        }

        .auctionBidInner span, .auctionBidInner p {
            text-align: start;
        }

        .liveAuction h3 {
            font-size: 28px;
        }

        .liveAuction p {
            font-size: 16px;
        }
    }

    @media only screen and (max-width:425px) {}

    @media only screen and (max-width:320px) {}